
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'contest_Contest_list' %}">
    Contest Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>end</td><td>{{ object.end }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>code</td><td>{{ object.code }}</td></tr>
    <tr><td>start</td><td>{{ object.start }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}