
{% extends "base.html" %}
{% block content %}
{% for object in object_list %}
  <div class="m-2">
    <a href="{{object.get_absolute_url}}">{{object}}</a>
    <small class="ml-5"><a href="{% url 'contest_Prize_delete' object.pk %}">(Delete)</a></small>
  </div>
{% endfor %}
<div><a class="btn btn-primary" href="{% url 'contest_Prize_create' %}">Create a new Prize</a></div>
{% endblock %}
